.mainBtn {
	-fx-background-color: #b783c8;
	-fx-font-size: 32px;
	-fx-pref-width: 248px;
	-fx-font-weight: 600;
	-fx-effect: dropshadow(three-pass-box, #b783c833, 16, 0, 0, 8);
	-fx-background-radius: 8px;
}

.container {
	-fx-background-color: #ffc247;
}
.scrollpane {
	-fx-background-color: transparent;
}
.scrollpane > .viewport {
	-fx-background-color: transparent;
}

.player {
	-fx-background-color: #121214;
	-fx-background-radius: 8px;
}

.playerName {
	-fx-text-fill: #e1e1dd;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-size: 32px;
	-fx-text-overrun: ellipsis;
}

.title {
	-fx-font-size: 48px;
	-fx-font-weight: bold;
}

.playerDataContainer {
	-fx-background-color: #1e1e22;
	-fx-text-fill: #e1e1dd;
}

.playerDataDisplay {
	-fx-background-color: #b783c8;
	-fx-background-radius: 8px;
	-fx-effect: dropshadow(three-pass-box, #b783c833, 16, 0, 0, 8);
	-fx-font-size: 20px;
}

.playerDataTitle {
	-fx-font-size: 24px;
	-fx-wrap-text: true ;
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
}

.playerDataValue {
	-fx-alignment: center;
	-fx-font-size: 52px;
	-fx-font-weight: bolder;
}

.playerDataName {
	-fx-font-size: 32px;
	-fx-font-weight: bold;
	-fx-text-fill: #e1e1dd;
}

.infoPartidaTitle {
	-fx-font-size: 28px;
	-fx-font-weight: bold;
}

.infoPartidaBtn {
	-fx-font-size: 16px; 
	-fx-font-weight: bold;
	-fx-background-color: #b783c8;
	-fx-background-radius: 8px;
}

.infoPartidaData {
	-fx-font-size: 20px;
}

.ganadoresTitles {
	-fx-text-fill: #f7b42c;
	-fx-font-weight: bolder;
}

.labelDice {
	-fx-background-color: #fff;
	-fx-background-radius: 8px;
	-fx-font-weight: bolder;
	-fx-font-size: 32px;
	-fx-alignment: center;
	-fx-max-height: 100000000;
	-fx-max-width: 100000000;
}

.blackContainer {
	-fx-background-color: #1e1e22;
}


